<div class="row gx-0">
  <div class="col">
    <div class="d-inline-flex">
      <a [routerLink]="['/']">
        <img src="assets/logo.png">
      </a>
      <h1 class="m-auto ms-3">MovieMania</h1>
    </div>
  </div>

  <!-- <div class="col text-center m-auto">
    <h1>MovieMania</h1>
  </div> -->

  <div class="col login text-end m-auto">
    <a [routerLink]="['/login']">
      <p-button class="me-3 p-button-rounded">
        <em class="material-icons">login</em>Login
      </p-button>
    </a>
  </div>
</div>