<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirigir todas las solicitudes a la carpeta 'public'
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ /public/$1 [L]
    
    # Ocultar el path '/public' en el navegador
    RewriteCond %{THE_REQUEST} \s/public/([^\s?]+) [NC]
    RewriteRule ^ %1 [L,R=301]
    
    # Redirigir todas las solicitudes '/api' a la carpeta 'api'
    RewriteRule ^api/(.*)$ /api/$1 [L]    
</IfModule>