<IfModule mod_rewrite.c>
    # Habilitar reescritura de URLs
    RewriteEngine On

    # Ruta base para las solicitudes
    RewriteBase /

    # Si la solicitud es para un archivo o directorio existente, no hacer nada
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    # Para las solicitudes que no son para archivos ni directorios existentes,
    # redirigir al backend en la carpeta 'api'
    RewriteRule ^api/(.*)$ api/index.php [L]

    # Para las solicitudes restantes, redirigir al directorio 'public' para servir archivos estáticos
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>