router-outlet+* {
  padding: unset;
}

app-top-bar .row {
  background-color: #1976d2;
}

app-top-bar h1 {
  color: white;
  margin: 16px;
}

app-top-bar img {
  color: white;
  margin: 0;
  width: 100px;
}

.login .p-button {
  background-color: white;
}

.p-button-rounded > .p-button, .p-button-rounded {
  border-radius: 10px !important;
}

.p-confirm-dialog .p-dialog-content {
  align-items: start;
}

.dialog-delete .p-dialog-content {
  padding-bottom: 1rem !important;
}

.login p-button>* {
  color: #0075cf;
  font-weight: 500;
}

.p-dropdown-items {
  margin-top: unset;
  margin-bottom: unset;
  padding-left: unset;
}